APScheduler==3.11.2
asgiref==3.11.1
asttokens==3.0.1
certifi==2026.2.25
charset-normalizer==3.4.5
colorama==0.4.6
Django==6.0.3
django-apscheduler==0.7.0
executing==2.2.1
icecream==2.1.10
idna==3.11
Pygments==2.20.0
requests==2.32.5
sqlparse==0.5.5
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
