<div class="col text-end d-print-none">
    <div class="btn-group " role="group">
        <a href="{% url 'calendario:prossimo_evento' %}"
           class="btn btn-outline-primary {{pagina_attiva_prossimo_evento}}">
            Prossimo
        </a>
        <a href="{% url 'calendario:completo' %}"
           class="btn btn-outline-primary {{pagina_attiva_calendario_completo}}">
            Calendario
        </a>
        <a href="/admin/"
           class="btn btn-outline-primary">
            Admin
        </a>
    </div>
</div>
