<div class="col text-center mb-1">
    <div class="btn-group w-100" role="group">
        <a href="{% url 'calendario:prossimo_evento' %}"
           class="btn btn-outline-primary {{pagina_attiva_prossimo_evento}}">
            Prossimo
        </a>
        <a href="{% url 'calendario:eventi_futuri' %}"
           class="btn btn-outline-primary {{pagina_attiva_eventi_futuri}}">
            Calendario
        </a>
        <a href="{% url 'calendario:eventi_passati' %}"
           class="btn btn-outline-primary {{pagina_attiva_eventi_passati}}">
            Storico
        </a>

        <!-- Dropdown Admin -->
        <div class="btn-group" role="group">
            <button type="button"
                    class="btn btn-outline-primary dropdown-toggle {{pagina_attiva_admin}}"
                    data-bs-toggle="dropdown">
                Admin
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="/admin/">
                        Pannello di controllo
                    </a>
                </li>
                <li>
                    <a class="dropdown-item {{pagina_attiva_log}}" href="{% url 'calendario:log' %}">
                        Log
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
