<p class="d-flex gap-1">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsePreferenze"
            aria-expanded="false" aria-controls="collapsePreferenze">
        Preferenze
    </button>
</p>
<div class="collapse" id="collapsePreferenze">
    <div class="card card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Stato evento</li>
            <li class="list-group-item">Invia "Postate presenze"</li>
            <li class="list-group-item">Sollecita "in forse"</li>
            <li class="list-group-item">Notifica sempre S/N</li>
        </ul>
    </div>
</div>